body {
  align-items: center;
  padding: 1rem;
  display: flex;
  min-height: 90vh;
  background: linear-gradient(to bottom right, #535bf2, #c5c6f1);
  justify-content: center;
}

.wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  min-width: 400px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


input {
  margin-top: 5px;
  margin-left: 25%;
  align-items: center;
  border-radius: 1.5rem;
  border:none;
  padding: 1rem;
  background: linear-gradient(to right, #f9f9f9, #f9f9f9);
  place-items: center;
}
input[type=text] {
  color: black;
}

.header {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
  align-items: center;
}
.temperature {
  font-weight: bold;
  font-size: 3.5rem;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: bold;
}
.wind-speed-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35) ;
}
.wind-speed-text {
  margin-left: 20%;
}
.humidity-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}
.humidity-text {
  margin-left: 25%;
}

.forecast {
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  padding-top: 2rem ;
}
.forecast-days {
  display: flex;
  justify-content: space-between;
}
.forecast-day {
  font-weight: bold;
}

.forecast-header {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}